.wrapper {
  margin: auto;
  width: fit-content;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem auto;
  min-height: 24vh;
}
.clip {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 0.7rem;
  font-size: 1.1rem;
  gap: 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgb(235, 235, 235);
  padding: 0.5rem 1rem;
  img {
    height: 1rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.icons {
  display: flex;
  gap: 1rem;
  filter: drop-shadow(5px 5px 5px rgb(227, 227, 227));
  img {
    height: 2rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
@media (min-width: 600px) {
  .wrapper {
    gap: 2.4rem;
  }
}
