.circular_progress {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  display: grid;
  place-items: center;
  animation: spin 1s linear infinite;
  padding: 0;
  margin: 0 auto;
}

.circular_progress2 {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  display: grid;
  place-items: center;
  animation: spin 1s linear infinite;
  padding: 0;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
