.iframe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  iframe {
    display: block;
    margin: auto;
    width: 100%;
    aspect-ratio: 16/9;
    border: 0;
    border-radius: 1rem;
    box-shadow: var(--shadow-3);
  }
}

@media (min-width: 600px) {
  .iframe {
    gap: 2rem;
    iframe {
      width: 100%;
    }
    p {
      font-size: var(--large-font);
    }
  }
}
